@charset "UTF-8";
html {
  font-size: 62.5%;
  font-family: "Noto Sans JP";
}
body {
  font-size: 1.6rem;
  line-height: 3.2rem;
  color: #211613;
}

img {
  max-width: 100%;
}

.tabAndPC {
  display: none !important;
}
@media screen and (min-width: 600px) {
  .tabAndPC {
    display: block !important;
  }
}

.PConly {
  display: none !important;
}
@media screen and (min-width: 1025px) {
  .PConly {
    display: block !important;
  }
}

@media screen and (min-width: 600px) {
  .SPonly {
    display: none !important;
  }
}

@media screen and (min-width: 1025px) {
  .tabAndSP {
    display: none !important;
  }
}

.orange {
  color: #F19917;
}

.heading {
  color: #F19917;
  font-size: 2rem;
  text-align: center;
  line-height: 4rem;
}
@media screen and (min-width: 600px) {
  .heading {
    font-size: 2.8rem;
  }
}

.container {
  padding: 0 5vw;
  max-width: 1110px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  width: 100%;
  max-width: 54rem;
  margin: 0 auto;
  font-size: 2rem;
  text-align: center;
  border-radius: 9999px;
  transition: 0.3s all linear;
}
.button:hover {
  opacity: 0.7;
}
.button span {
  background-color: #fff;
  color: #F19917;
  padding: 0.5rem 1.7rem;
  border-radius: 9999px;
  margin-right: 1rem;
}
.button:hover {
  opacity: 0.7;
}

.bold {
  font-weight: bold;
}

.header {
  position: absolute;
  width: 100%;
}
.header__title {
  margin: 2.5rem 0;
  display: inline-block;
  height: 3.5rem;
}
.header__title img {
  height: 100%;
}
.header__container {
  padding: 0 5vw;
}

main .top {
  padding-top: 10rem;
  padding-bottom: 4rem;
  background-image: url(/images/top-bg.png);
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 600px) {
  main .top {
    background-image: url(/images/top_bg_pc.jpg);
    padding-top: 21rem;
    padding-bottom: 14rem;
  }
}
@media screen and (min-width: 600px) {
  main .top__box {
    width: 462px;
  }
}
main .top__text {
  display: flex;
}
main .top__text--nav {
  color: #fff;
  font-size: 1.5rem;
  border-bottom: #F19917 2px solid;
}
main .top__text--nav:last-of-type {
  margin-left: 3rem;
}
@media screen and (min-width: 600px) {
  main .top__text--nav:last-of-type {
    margin-left: 4.5rem;
  }
}
@media screen and (min-width: 600px) {
  main .top__text--nav {
    font-size: 2.4rem;
  }
}
main .top__catchCopy {
  color: #fff;
  font-size: 4.3rem;
  font-family: "Noto Sans JP";
  letter-spacing: 0.3rem;
  line-height: 6rem;
  margin-top: 4rem;
  padding-bottom: 31rem;
}
@media screen and (min-width: 600px) {
  main .top__catchCopy {
    padding-bottom: 9rem;
    font-size: 6rem;
    letter-spacing: 0.2rem;
    line-height: 10rem;
  }
}
main .top__buttonArea {
  position: relative;
  width: 32.3rem;
  margin: 0 auto;
}
@media screen and (min-width: 600px) {
  main .top__buttonArea {
    width: 100%;
  }
}
main .top__buttonArea .top__speechBubble {
  position: absolute;
  top: -15.5rem;
  left: -3rem;
  z-index: 10;
}
@media screen and (min-width: 600px) {
  main .top__buttonArea .top__speechBubble {
    top: -9rem;
    left: 42rem;
  }
}
main .top__button {
  transition: 0.3s all linear;
}
main .top__button:hover {
  opacity: 0.7;
}
main .recommendation {
  margin-top: 4rem;
}
@media screen and (min-width: 600px) {
  main .recommendation {
    position: relative;
    padding-bottom: 12rem;
  }
}
main .recommendation__buttonArea {
  height: 7.8rem;
  width: calc(100% - 10vw);
  max-width: 1110px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 4.2rem;
}
@media screen and (min-width: 600px) {
  main .recommendation__buttonArea {
    position: relative;
  }
}
main .recommendation__buttonArea .square__button {
  transition: 0.3s all linear;
  display: inline-block;
}
main .recommendation__buttonArea .square__button:hover {
  opacity: 0.8;
}
@media screen and (min-width: 600px) {
  main .recommendation__buttonArea .square__button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
  }
}
main .recommendation__list {
  width: 100%;
  max-width: 73rem;
  margin: 0 auto;
}
@media screen and (min-width: 600px) {
  main .recommendation__list {
    width: rem;
  }
}
main .recommendation li {
  margin-top: 2rem;
}
main .recommendation li:first-child {
  margin-top: 4.3rem;
}
main .recommendation__content {
  background-color: rgba(241, 153, 23, 0.2);
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 3.2rem;
  padding: 1rem 2rem;
  border-radius: 9999px;
  display: flex;
}
main .recommendation__content--text {
  margin-left: 0.7rem;
}
@media screen and (min-width: 600px) {
  main .recommendation__content {
    font-size: 2rem;
    padding: 2.5rem;
  }
}
main .recommendation__figure {
  width: 100%;
}
@media screen and (min-width: 650px) {
  main .recommendation__figure {
    width: 38vw;
    max-width: 60rem;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
main .recommendation__figure img {
  width: 100%;
}
main .explanation {
  background-image: url(/images/building.jpg);
  background-size: cover;
  background-color: rgba(128, 128, 128, 0.1);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  padding-top: 8.5rem;
  padding-bottom: 8rem;
}
@media screen and (min-width: 600px) {
  main .explanation {
    background-image: url(/images/explanation_bg_pc.jpg);
  }
}
main .explanation__text {
  margin-top: 4.4rem;
  margin-bottom: 8.8rem;
  margin: 4.4rem auto 8.8rem;
  line-height: 3.2rem;
  max-width: 73rem;
}
main .explanation__image {
  width: 55vw;
  text-align: center;
  margin: 0 auto;
}
@media screen and (min-width: 600px) {
  main .explanation__image {
    width: 100%;
    max-width: 73rem;
  }
}
main .explanation__image img {
  width: 100%;
}
main .gain {
  padding-top: 8.5rem;
  padding-bottom: 8rem;
}
main .gain__container {
  max-width: 1200px;
}
@media screen and (min-width: 1025px) {
  main .gain__flex {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1025px) {
  main .gain__text {
    width: calc(100% - 50rem);
  }
}
main .gain__text--title {
  font-weight: bold;
  margin-top: 4.4rem;
  margin-bottom: 2.8rem;
}
main .gain__list {
  font-size: 1.2rem;
  line-height: 2.4rem;
  margin-top: 2.8rem;
  margin-bottom: 4.3rem;
  padding-left: 1.5rem;
}
main .gain__list li {
  list-style: disc;
}
main .gain__image {
  width: 100%;
  max-width: 559px;
  margin: 0 auto;
}
@media screen and (min-width: 1025px) {
  main .gain__image {
    margin-top: 4.4rem;
    max-width: 445px;
  }
}
main .gain__image img {
  width: 100%;
}
main .banner {
  background-image: url(/images/banner-image_sp.png);
  background-size: cover;
  padding-top: 4.5rem;
  padding-bottom: 4rem;
  font-size: 2.4rem;
  line-height: 4rem;
  letter-spacing: 0.2rem;
}
@media screen and (min-width: 600px) {
  main .banner {
    background-image: url(/images/banner_bg_pc.jpg);
  }
}
@media screen and (min-width: 600px) {
  main .banner__layout {
    margin: 0 auto;
    text-align: center;
  }
}
main .banner__text {
  color: #fff;
}
main .banner__text span {
  color: #F19917;
}
main .banner__buttonArea {
  display: inline-block;
  width: 100%;
  position: relative;
  margin-top: 15rem;
}
@media screen and (min-width: 600px) {
  main .banner__buttonArea {
    margin-top: 3rem;
    width: 54rem;
  }
}
main .banner__buttonArea .Amazon__speechBubble {
  position: absolute;
  z-index: 10;
  top: -15.5rem;
  right: -3rem;
}
@media screen and (min-width: 600px) {
  main .banner__buttonArea .Amazon__speechBubble {
    top: -12rem;
    right: -3rem;
  }
}
@media screen and (min-width: 1025px) {
  main .banner__buttonArea .Amazon__speechBubble {
    top: -10rem;
    right: -13rem;
  }
}
main .banner__buttonArea__button {
  font-size: 2rem;
  line-height: 4.8rem;
  padding: 1.2rem;
}
main .feature {
  padding-top: 7.7rem;
  padding-bottom: 8rem;
}
@media screen and (min-width: 1025px) {
  main .feature__boxes {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    margin-top: 7rem;
  }
}
main .feature__box {
  width: 100%;
  background-color: rgba(241, 153, 23, 0.2);
  padding: 1.7rem;
  border-radius: 1rem;
}
@media screen and (max-width: 1024px) {
  main .feature__box:nth-of-type(1) {
    margin-top: 4.5rem;
  }
  main .feature__box:not(:nth-of-type(1)) {
    margin-top: 2rem;
  }
}
@media screen and (min-width: 1025px) {
  main .feature__box {
    width: calc((100% - 5rem) / 2);
  }
  main .feature__box:nth-last-of-type(-n+2) {
    margin-top: 2.4rem;
  }
}
main .feature__title {
  display: flex;
}
main .feature__title--text {
  margin-left: 2rem;
}
main .feature__title--tab {
  display: inline-block;
  background-color: #F19917;
  color: #fff;
  padding: 0 1rem;
  border-radius: 1rem;
}
main .feature__title--bold {
  font-weight: bold;
}
main .feature__text {
  color: #707070;
  padding-top: 1rem;
  font-size: 1.6rem;
  line-height: 2.5rem;
}
main .system {
  background-image: url(/images/system_bg.jpg);
  background-size: cover;
  background-position: center;
  padding: 8rem 0;
}
main .system__flex {
  margin-top: 3.8rem;
}
@media screen and (min-width: 600px) {
  main .system__flex {
    margin-top: 5.8rem;
  }
}
@media screen and (min-width: 1025px) {
  main .system__flex {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1025px) {
  main .system__text {
    width: calc(100% - 50rem);
    margin: 4.8rem auto 0;
    margin-right: 5rem;
  }
}
main .system__image {
  margin: 4.8rem auto 0;
  width: 100%;
  max-width: 73rem;
}
main .system__image img {
  width: 100%;
}
main .fund {
  background-color: #F0F0F0;
  padding-top: 8.5rem;
  padding-bottom: 8rem;
}
main .fund__name {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1.6rem;
  position: relative;
  padding-left: 2.5rem;
}
main .fund__name::before {
  content: "";
  position: absolute;
  width: 1.6rem;
  height: 0.2rem;
  background-color: #F19917;
  top: 50%;
  left: 0;
}
main .fund__layout {
  max-width: 111rem;
}
@media screen and (min-width: 1025px) {
  main .fund__layout {
    display: flex;
  }
}
main .fund__image {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
@media screen and (min-width: 1025px) {
  main .fund__image {
    width: 44.5rem;
    height: 33.2rem;
  }
}
main .fund__image__title {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 14%;
  background-color: #303639;
  color: #fff;
  font-size: 2vw;
  text-align: center;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1025px) {
  main .fund__image__title {
    font-size: 1.7rem;
  }
}
main .fund__image__titleText {
  display: inline-block;
}
main .fund__image img {
  width: 100%;
  border-radius: 2rem;
}
@media screen and (min-width: 1025px) {
  main .fund__image img {
    width: 44.5rem;
    height: 33.2rem;
  }
}
main .fund__dataArea {
  margin-top: 2rem;
}
@media screen and (min-width: 1025px) {
  main .fund__dataArea {
    width: calc(100% - 3rem);
    max-width: 63.5rem;
    margin-left: 3rem;
    margin-top: 0;
  }
}
main .fund__dataContainer {
  display: flex;
  margin-bottom: 0.8rem;
}
@media screen and (min-width: 1025px) {
  main .fund__dataContainer:not(:last-of-type) {
    margin-bottom: 1.6rem;
  }
}
main .fund__data {
  background-color: #fff;
  border-radius: 1rem;
  text-align: center;
  font-size: 1.2rem;
  align-items: center;
  display: flex;
  justify-content: center;
}
main .fund__data--text {
  line-height: 1.15;
}
main .fund__data br {
  display: block;
  content: "";
  height: 10px;
}
main .fund__data .data__name {
  vertical-align: middle;
}
main .fund__data .large__number {
  font-size: 4.2rem;
  font-weight: bold;
  line-height: 5.4rem;
}
main .fund__data .unit {
  font-size: 1.8rem;
  font-weight: bold;
}
main .fund__data .bold__number {
  font-weight: bold;
}
@media screen and (min-width: 1025px) {
  main .fund__data .bold__number {
    font-size: 1.8rem;
  }
}
main .fund__dataContainer.--top {
  flex-flow: column;
}
@media screen and (min-width: 1025px) {
  main .fund__dataContainer.--top {
    display: flex;
    flex-flow: row;
  }
}
main .fund__dataContainer.--top .fund__data {
  width: 100%;
  height: 5.4rem;
}
@media screen and (min-width: 1025px) {
  main .fund__dataContainer.--top .fund__data {
    height: 9rem;
  }
}
main .fund__dataContainer.--top .fund__data:nth-of-type(1) {
  margin-bottom: 0.8rem;
}
@media screen and (min-width: 1025px) {
  main .fund__dataContainer.--top .fund__data:nth-of-type(1) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1025px) {
  main .fund__dataContainer.--top .fund__data:nth-of-type(2) {
    margin-left: 1rem;
  }
}
main .fund__dataContainer.--middle {
  flex-flow: row;
  justify-content: space-between;
}
main .fund__dataContainer.--middle .fund__data {
  width: calc((100% - 2rem) / 3);
  height: 9.1rem;
  padding: 1rem 0;
}
main .fund__dataContainer.--bottom .fund__data {
  height: 5.5rem;
  width: 100%;
  color: #F19917;
  font-weight: bold;
  font-size: 2.4rem;
}
@media screen and (min-width: 1025px) {
  main .fund__dataContainer.--bottom .fund__data {
    height: 7.1rem;
  }
}
main .Amazon {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
@media screen and (min-width: 1025px) {
  main .Amazon {
    padding-bottom: 6.5rem;
  }
}
main .Amazon__top {
  background-color: #211613;
  padding: 5rem 2rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
@media screen and (min-width: 600px) {
  main .Amazon__top {
    margin: 0 auto;
  }
}
@media screen and (min-width: 1025px) {
  main .Amazon__top {
    position: relative;
  }
}
main .Amazon__top--parent {
  color: #fff;
  padding-bottom: 3.6rem;
  position: relative;
}
@media screen and (min-width: 600px) {
  main .Amazon__top--parent {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1025px) {
  main .Amazon__top--parent {
    padding-bottom: 2rem;
  }
}
@media screen and (max-width: 599px) {
  main .Amazon__top--parent img {
    position: absolute;
    top: 0;
    right: 0;
  }
}
@media screen and (min-width: 1025px) {
  main .Amazon__top--parent img {
    height: 240px;
    margin-left: 7rem;
  }
}
main .Amazon__top--parent .font-large {
  font-size: 2.7rem;
  letter-spacing: 0.2rem;
}
main .Amazon__top--text {
  display: inline-block;
}
main .Amazon__button {
  text-align: center;
  margin: 0 auto;
}
@media screen and (min-width: 1025px) {
  main .Amazon__button {
    position: absolute;
    width: 100%;
    top: 25rem;
    left: 0;
  }
}
main .Amazon__bottom {
  padding: 2.8rem 1.8rem 3.5rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #F0F0F0;
}
@media screen and (min-width: 600px) {
  main .Amazon__bottom {
    padding: 6rem 1.8rem 6.4rem;
  }
}
main .Amazon__bottom--heading {
  font-weight: bold;
  line-height: 2.8rem;
}
main .Amazon__bottom h3 {
  font-weight: bold;
}
main .Amazon__bottom--container {
  max-width: 73rem;
  margin: 0 auto;
}
main .Amazon__bottom--text {
  padding-bottom: 2.3rem;
  font-size: 1.4rem;
  line-height: 2.5rem;
}
main .Amazon__bottom--text:first-of-type {
  margin-top: 2rem;
}
main .Amazon__notice {
  margin-left: 1.6rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
main .Amazon__notice li {
  list-style: "※";
}
main .register {
  padding-top: 8rem;
}
main .register__steps {
  padding-top: 4.6rem;
  position: relative;
}
@media screen and (min-width: 600px) {
  main .register__steps::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 0.5rem;
    left: 5.5rem;
    height: 90%;
    background-color: #211613;
  }
}
@media screen and (min-width: 600px) {
  main .register__step {
    display: flex;
  }
}
main .register__step:not(:nth-of-type(1)) {
  margin-top: 8.4rem;
}
main .register__step .step__nav {
  display: inline-block;
  background-color: #211613;
  color: #fff;
  padding: 0.5rem 3rem;
  height: 4.2rem;
}
main .register__step--text {
  padding-top: 3.8rem;
}
@media screen and (min-width: 600px) {
  main .register__step--text {
    padding-top: 0;
    margin-left: 4rem;
  }
}
main .register__step--text h3 {
  font-weight: bold;
  font-size: 1.8rem;
  padding-bottom: 1rem;
}
main .register__step--text h4 {
  font-weight: bold;
  font-size: 1.4rem;
}
main .register__step--buttons {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 600px) {
  main .register__step--buttons {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1025px) {
  main .register__step--buttons {
    flex-direction: row;
  }
}
main .register__step--detail {
  font-size: 1.4rem;
  line-height: 2.1rem;
}
main .register__arrowButton {
  display: inline-block;
  width: 100%;
  margin: 4.7rem auto 0;
  transition: 0.3s all linear;
}
main .register__arrowButton:hover {
  opacity: 0.7;
}
@media screen and (min-width: 600px) {
  main .register__arrowButton {
    width: 35rem;
  }
}
main .register__flex {
  display: flex;
  justify-content: center;
}
main .register__button {
  display: inline-block;
  transition: 0.3s all linear;
}
main .register__button:hover {
  opacity: 0.7;
  background-color: rgba(112, 128, 138, 0.1);
}
@media screen and (min-width: 600px) {
  main .register .--orange {
    max-width: 35rem;
  }
}
@media screen and (min-width: 1025px) {
  main .register .--orange {
    margin-right: 2rem;
  }
}
main .register .--white {
  margin-top: 1rem;
}
@media screen and (min-width: 600px) {
  main .register .--white {
    max-width: 35rem;
  }
}
@media screen and (min-width: 1025px) {
  main .register .--white {
    margin-top: 0;
  }
}
main .register .Identification {
  background-color: #F7F7F7;
  font-size: 1.4rem;
  line-height: 2rem;
  border-radius: 0.5rem;
  padding: 2rem;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}
main .register .Identification__title {
  font-weight: bold;
}
main .register .Identification ul {
  margin-left: 4vw;
}
main .register .Identification li {
  list-style: disc;
}
main .footer {
  background-color: #EFF1F6;
  text-align: center;
  padding: 3rem 0;
}
main .footer__container {
  max-width: 1300px;
}
@media screen and (min-width: 1025px) {
  main .footer__flexBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
main .footer__flexBox--leftSide {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1025px) {
  main .footer__nav {
    width: 25rem;
    order: 2;
    margin-bottom: 0.5rem;
    margin-right: 12rem;
  }
}
main .footer__flex {
  display: flex;
  justify-content: center;
}
main .footer__logo {
  margin-top: 2.4rem;
  margin-bottom: 2.8rem;
}
@media screen and (min-width: 1025px) {
  main .footer__logo {
    display: flex;
    order: 1;
    margin-right: 2rem;
  }
}
main .footer__logo--text {
  color: #71808A;
  font-size: 1.2rem;
  display: inline-block;
  margin-top: 2.4rem;
}
@media screen and (min-width: 1025px) {
  main .footer__logo--text {
    margin-top: 0.5rem;
    margin-left: 2rem;
  }
}
main .footer__li {
  display: inline-block;
  padding: 0 0.8rem;
  font-size: 1.4rem;
  color: #211613;
}
main .footer__li:nth-of-type(1) {
  position: relative;
}
main .footer__li:nth-of-type(1)::after {
  content: "";
  width: 0.1rem;
  height: 2rem;
  background-color: #211613;
  position: absolute;
  top: 0.6rem;
  right: -0.2rem;
}
main .footer__link {
  transition: 0.3s all linear;
}
main .footer__link:hover {
  opacity: 0.7;
}
main .footer__copy {
  font-size: 1.2rem;
}
@media screen and (min-width: 1025px) {
  main .footer__copy {
    order: 3;
  }
}