@charset "UTF-8";
html {
  font-size: 62.5%;
  font-family: "Noto Sans JP";
}

body {
  font-size: 1.6rem;
  line-height: 3.2rem;
}

.orange {
  color: #F19917;
}

.heading {
  color: #F19917;
  font-size: 2rem;
  text-align: center;
  line-height: 4rem;
}

.container {
  padding: 0 5vw;
}

.ml-4 {
  margin-left: 3rem;
}

.PConly {
  display: none;
}

.button {
  display: inline-block;
  padding: 1.25rem 2rem;
  width: 100%;
  background-color: #F19917;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  border-radius: 9999px;
}
.button span {
  background-color: #fff;
  color: #F19917;
  padding: 0.5rem 1.7rem;
  border-radius: 9999px;
  margin-right: 1rem;
}
.button:hover {
  opacity: 0.7;
}

.banner {
  background-image: url(/image/banner-image_sp.png);
  padding-top: 4.5rem;
  padding-bottom: 4rem;
  font-size: 2.4rem;
  line-height: 4rem;
  letter-spacing: 0.2rem;
}
.banner__text {
  color: #fff;
}
.banner__text span {
  color: #F19917;
}
.banner__buttonArea {
  position: relative;
  margin-top: 15rem;
}
.banner__buttonArea img {
  position: absolute;
  top: -15.5rem;
  right: -3rem;
}
.banner__buttonArea__button {
  font-size: 2rem;
  line-height: 4.8rem;
  padding: 1.2rem;
}

.bold {
  font-weight: bold;
}

.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: black;
}
.header__title {
  margin: 2.5rem 0;
  display: inline-block;
  height: 3.5rem;
}
.header__title img {
  height: 100%;
}

main .top {
  padding-top: 100px;
  padding-bottom: 4rem;
  background-image: url(/image/top-bg.png);
  background-size: cover;
}
main .top__text {
  display: flex;
}
main .top__text--nav {
  color: #fff;
  font-size: 1.5rem;
  border-bottom: #F19917 2px solid;
}
main .top__catchCopy {
  color: #fff;
  font-size: 4.3rem;
  font-family: "Noto Sans JP";
  letter-spacing: 0.5rem;
  line-height: 6rem;
  margin-top: 4rem;
  padding-bottom: 31rem;
}
main .top__buttonArea {
  position: relative;
}
main .top__buttonArea img {
  position: absolute;
  top: -15.5rem;
  left: -3rem;
}
main .top__button {
  display: inline-block;
  padding: 2rem;
  width: 100%;
  background-color: #F19917;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  border-radius: 9999px;
}
main .top__button span {
  background-color: #fff;
  color: #F19917;
  padding: 0.5rem 1.7rem;
  border-radius: 9999px;
  margin-right: 1rem;
}
main .top .bg-image {
  background-image: url(/image/マスクグループ\ 4178.jpg);
}
main .recommendation {
  margin-top: 4rem;
}
main .recommendation__button {
  display: inline-block;
  margin-bottom: 4rem;
  padding: 2rem;
  width: 100%;
  background-color: #F19917;
  font-size: 2rem;
  text-align: center;
  border-radius: 0.5rem;
}
main .recommendation__button .button__text {
  font-size: 1.4rem;
  padding-bottom: 1rem;
  font-weight: bold;
}
main .recommendation__button .white {
  color: #fff;
}
main .recommendation__button span {
  font-size: 1.6rem;
  background-color: #fff;
  color: #F19917;
  padding: 0.5rem 1.7rem;
  border-radius: 9999px;
  margin-right: 1rem;
}
main .recommendation__li {
  background-color: rgba(241, 153, 23, 0.2);
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 3.2rem;
  margin-top: 2rem;
  padding: 1rem 2rem;
  border-radius: 9999px;
  display: flex;
}
main .recommendation__li--text {
  margin-left: 0.7rem;
}
main .recommendation__figure {
  width: 100%;
}
main .recommendation__figure img {
  width: 100%;
}
main .explanation {
  background-image: url(/image/building.jpg);
  background-color: rgba(128, 128, 128, 0.1);
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 8.5rem;
  padding-bottom: 8rem;
}
main .explanation__text {
  margin-top: 4.4rem;
  margin-bottom: 8.8rem;
  line-height: 3.2rem;
}
main .explanation__image {
  width: 55vw;
  text-align: center;
  margin: 0 auto;
}
main .explanation__image img {
  width: 100%;
}
main .gain {
  padding-top: 8.5rem;
  padding-bottom: 8rem;
}
main .gain__text__title {
  font-weight: bold;
  margin-top: 4.4rem;
  margin-bottom: 2.8rem;
}
main .gain__list {
  font-size: 1.2rem;
  line-height: 2.4rem;
  margin-top: 2.8rem;
  margin-bottom: 4.3rem;
  padding-left: 5vw;
}
main .gain__list li {
  list-style: disc;
}
main .feature {
  padding-top: 7.7rem;
  padding-bottom: 8rem;
}
main .feature__box {
  background-color: rgba(241, 153, 23, 0.2);
  padding: 1.7rem;
  border-radius: 1rem;
}
main .feature__box:nth-of-type(1) {
  margin-top: 4.5rem;
}
main .feature__box:not(:nth-of-type(1)) {
  margin-top: 2rem;
}
main .feature__title {
  display: flex;
}
main .feature__title--text {
  margin-left: 2rem;
}
main .feature__title--tab {
  display: inline-block;
  background-color: #F19917;
  color: #fff;
  padding: 0 1rem;
  border-radius: 1rem;
}
main .feature__title--bold {
  font-weight: bold;
}
main .feature__text {
  color: #707070;
  padding-top: 1rem;
  font-size: 1.6rem;
  line-height: 2.5rem;
}
main .system {
  background-image: url(/image/system_bg.jpg);
  padding: 8rem 0;
}
main .system__img {
  margin-top: 4.8rem;
}
main .Amazon {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
main .Amazon__top {
  background-color: #211613;
  padding: 5rem 2rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
main .Amazon__top--parent {
  color: #fff;
  padding-bottom: 3.6rem;
  position: relative;
}
main .Amazon__top--parent img {
  position: absolute;
  top: 0;
  right: 0;
}
main .Amazon__top--parent .font-large {
  font-size: 2.7rem;
  letter-spacing: 0.2rem;
}
main .Amazon__bottom {
  padding: 2.8rem 1.8rem 3.5rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #F0F0F0;
}
main .Amazon__bottom h3 {
  font-weight: bold;
}
main .Amazon__bottom--text {
  padding-bottom: 2.5rem;
  font-size: 1.4rem;
}
main .Amazon__notice {
  margin-left: 1.6rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
main .Amazon__notice li {
  list-style: "※";
}
main .register {
  padding: 8rem 0 8.8rem;
}
main .register__steps {
  padding-top: 4.6rem;
}
main .register .pb-43 {
  padding-bottom: 4.3rem;
}
main .register__step {
  padding-bottom: 8.5rem;
}
main .register__step .step__nav {
  display: inline-block;
  background-color: #211613;
  color: #fff;
  padding: 0.5rem 3rem;
}
main .register__step--text {
  padding-top: 3.8rem;
}
main .register__step--text h3 {
  font-weight: bold;
  font-size: 1.8rem;
  padding-bottom: 1rem;
}
main .register__flex {
  display: flex;
  justify-content: center;
}
main .register__flex img {
  margin-right: 1rem;
}