@charset "UTF-8";

@use './mixin' as g;

html {
  font-size: 62.5%;
  font-family: 'Noto Sans JP';
  @include g.mq('tab') {
  }
}
.tabAndPC {
  display: none!important;
  @include g.mq('tab') {
    display: block!important;
  }
}
.PConly {
  display: none!important;
  @include g.mq('pc') {
    display: block!important;
  }
}
.SPonly {
  @include g.mq('tab') {
    display: none!important;
  }
}
.tabAndSP {
  @include g.mq('pc') {
    display: none!important;
  }
}
body {
  font-size: 1.6rem;
  line-height: 3.2rem;
}
// 変数
$orange: #F19917;
.orange {
  color: $orange;
}
// 共通パーツ
.heading {
  color: $orange;
  font-size: 2rem;
  text-align: center;
  line-height: 4rem;
}
.container {
  padding: 0 5vw;
  max-width: 1110px;
  margin: 0 auto;
}
.ml-4 {
  margin-left: 3rem;
}

.button {
  display: inline-block;
  padding: 1.25rem 2rem ;
  width: 100%;
  max-width: 54rem;
  margin: 0 auto;
  background-color: $orange;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  border-radius: 9999px;
  span {
    background-color: #fff;
    color: $orange;
    padding: 0.5rem 1.7rem;
    border-radius: 9999px;
    margin-right: 1rem;
  }
  &:hover {
    opacity: 0.7;
  }
}


.bold {
      font-weight: bold;
    }


// ---------------------
.header {
  // position: fixed;
  // z-index: 10;
  // 追記
  position: absolute;
  //追記ここまで 
  width: 100%;
  // background-color: rgba(0, 0, 0, .5);
  &__title {
    margin: 2.5rem 0;
    display: inline-block;
    height: 3.5rem;
    img {
      height: 100%;
    }
  }
  &__container {
    padding: 0 5vw;
  }
}
main {
  // top-----------------
  .top {
    padding-top: 10rem;
    padding-bottom: 4rem;
    background-image: url(/image/top-bg.png);
    background-size: cover;
    background-position: center;
    @include g.mq('tab') {
      background-image: url(/image/top_bg_pc.jpg);
      padding-top: 21rem;
      padding-bottom: 14rem;
    }

    &__box {
    @include g.mq('tab') {
      width: 445px;
      }
    }
    &__text {
      display: flex;
      &--nav {
        color: #fff;
        font-size: 1.5rem;
        border-bottom: #F19917 2px solid;
      }
    }
    &__catchCopy {
      color: #fff;
      font-size: 4.3rem;
      font-family: 'Noto Sans JP';
      letter-spacing: 0.5rem;
      line-height: 6rem;
      margin-top: 4rem;
      padding-bottom: 31rem;
      @include g.mq('tab') {
        padding-bottom: 9rem;
      }
    }
    &__buttonArea {
      position: relative;
      img {
        position: absolute;
        top: -15.5rem;
        left: -3rem;
        @include g.mq('tab') {
          top: -9rem;
          left: 42rem;
        }
      }
    }
    &__button {
      display: inline-block;
      padding: 2rem ;
      width: 100%;
      background-color: $orange;
      color: #fff;
      font-size: 2rem;
      text-align: center;
      border-radius: 9999px;
      @include g.mq('tab') {
        padding: 1.8rem;
      }
      span {
        background-color: #fff;
        color: $orange;
        padding: 0.5rem 1.7rem;
        border-radius: 9999px;
        margin-right: 1rem;
      }
    }
  }
  .recommendation {
    margin-top: 4rem;
    @include g.mq('tab') {
      position: relative;
      padding-bottom: 12rem;
    }
    &__buttonArea {
      margin:0 auto 4rem;
      height: 7.8rem;
      width: 100%;
      background-color: $orange;
      font-size: 2rem;
      border-radius: 0.5rem;
      position: relative;
    @include g.mq('tab') {
      width: 33rem;
      margin: 0 0 4rem auto;
    }
      &::after {
        content: "";
        position: absolute;
        top: 45%;
        right: 0.9rem;
        width: 0.7rem;
        height: 0.7rem;
        border-top: 2px solid $orange;
        border-right: 2px solid $orange;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: -2rem;
        width: 2rem;
        height: 100%;
        transform: translateX(-100%);
        background: #211613;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
      }
      // 四角のボタンの文字部分
      .square__button {
        display: inline-block;
        width: calc(100% - 2.1rem);
        height: 100%;
        text-align: center;
        padding-top: 0.5rem;
        &--blacktext {
          display: inline-block;
          font-size: 1.4rem;
          font-weight: bold;
        }
        &--whitetext {
          color: #fff;
          letter-spacing: 0.2rem;
          font-size: 1.8rem;
          span {
            font-size: 1.6rem;
            background-color: #fff;
            color: $orange;
            padding: 0.5rem 1.7rem;
            border-radius: 9999px;
            margin-right: 1rem;
          }
        }
      }
    }
    &__list {
      width: 100%;
      max-width: 73rem;
      margin: 0 auto;
      @include g.mq('tab') {
        width: rem;
      }
    }
    &__li {
      background-color: rgba(241, 153, 23, 0.2);
      font-size: 1.6rem;
      font-weight: bold;
      line-height: 3.2rem;
      margin-top: 2rem;
      padding: 1rem 2rem;
      border-radius: 9999px;
      display: flex;
      &--text {
        margin-left: 0.7rem;
      }
      @include g.mq('tab') {
        font-size: 2rem;
        padding: 2.5rem;
      }
    }
    &__figure {
      width: 100%;
      @media screen and (min-width: 650px) {
        width: 38vw;
        position: absolute;
        right: 0;
        bottom: 0;
      }
      img {
        width: 100%;
      }
    }
  }
  .explanation {
    background-image: url(/image/building.jpg);
    background-size: cover;
    background-color: rgba(128, 128, 128, .1);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    padding-top: 8.5rem;
    padding-bottom: 8rem;
    @include g.mq('tab') {
      background-image: url(/image/explanation_bg_pc.jpg);
    }

    &__text {
      margin-top: 4.4rem;
      margin-bottom: 8.8rem;
      margin: 4.4rem auto 8.8rem;
      line-height: 3.2rem;
      max-width: 73rem;
      
    }
    &__image {
      width: 55vw;
      text-align: center;
      margin: 0 auto;
      @include g.mq('tab') {
        width: 100%;
        max-width: 73rem;
      }
      img {
        width: 100%;
      }
    }
  }
  .gain {
    padding-top:8.5rem ;
    padding-bottom:8rem ;
    &__flex {
      @include g.mq('pc') {
        display: flex;
        justify-content: space-between;
      }
    }
    &__text {
      @include g.mq('pc') {
        width: calc(100% - 50rem);
      }
      &__title {
        font-weight: bold;
        margin-top: 4.4rem;
        margin-bottom: 2.8rem;
      }
    }
    &__list {
      font-size: 1.2rem;
      line-height: 2.4rem;
      margin-top: 2.8rem;
      margin-bottom: 4.3rem;
      padding-left: 1.1rem;
      li {
        list-style: disc;
      }
    }
    &__image {
      width: 100%;
      max-width: 559px;
      margin: 0 auto;
      @include g.mq('pc') {
        margin-top: 4.4rem;
        max-width: 445px;
      }
      img {
        width: 100%;
      }
    }
  }
  .banner {
    background-image: url(/image/banner-image_sp.png);
    background-size: cover;
    padding-top: 4.5rem;
    padding-bottom: 4rem;
    font-size: 2.4rem;
    line-height: 4rem;
    letter-spacing: 0.2rem;
    @include g.mq('tab') {
      background-image: url(/image/banner_bg_pc.jpg);
      // text-align: center;
    }
    &__layout {
      @include g.mq('tab') {
        margin: 0 auto;
        text-align: center;
      }
    }
    &__text {
      color: #fff;
      span {
        color: $orange;
      }
    }
    &__buttonArea {
    display: inline-block;
    width: 100%;
    position: relative;
    margin-top: 15rem;
    @include g.mq('tab') {
      margin-top: 3rem;
      width: 54rem;
    }
    img {
      position: absolute;
      top: -15.5rem;
      right: -3rem;
      @include g.mq('tab') {
        top: -12rem;
        right: -3rem;
      }
      @include g.mq('pc') {
        top: -10rem;
        right: -13rem;
      }
    }
    &__button {
      font-size: 2rem;
      line-height: 4.8rem;
      padding: 1.2rem;
    }
  }
  }
  .feature {
    padding-top: 7.7rem;
    padding-bottom: 8rem;
    &__boxes {
      @include g.mq('pc') {
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
        margin-top: 7rem;
      }
    }
    &__box {
      width: 100%;
      background-color: rgba(241, 153, 23, 0.2);
      padding: 1.7rem;
      border-radius: 1rem;
      @media screen and (max-width: 1024px) {
        &:nth-of-type(1) {
          margin-top: 4.5rem;
        }
        &:not(:nth-of-type(1)) {
          margin-top: 2rem;
        }
      }
      

      @include g.mq('pc') {
        width: calc((100% - 5rem) / 2);
        &:nth-last-of-type(-n+2) {
          margin-top: 2.4rem;
        }
      }
    }
    &__title {
      display: flex;
      &--text {
        margin-left: 2rem;
      }
      &--tab {
        display: inline-block;
        background-color: #F19917;
        color: #fff;
        padding: 0 1rem;
        border-radius: 1rem;
      }
      &--bold {
        font-weight: bold;
      }
    }
    &__text {
      color: #707070;
      padding-top: 1rem;
      font-size: 1.6rem;
      line-height: 2.5rem;
    }
  }
  .system {
    background-image: url(/image/system_bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 8rem 0;
    &__flex {
      @include g.mq('pc') {
        display: flex;
        justify-content: space-between;
      }
    }
    &__text {
      @include g.mq('pc') {
        width: calc(100% - 50rem);
        margin: 4.8rem auto 0;
        margin-right: 5rem;
      }
    }
    &__image {
      margin: 4.8rem auto 0;
      width: 100%;
      max-width: 73rem;
      img {
        width: 100%;
      }
    }
  }
  .fund {
    background-color: #F0F0F0;
    padding-top: 8.5rem;
    padding-bottom: 8rem;
    &__name {
      font-size: 1.8rem;
      font-weight: bold;
      margin-bottom: 1.6rem;
      position: relative;
      padding-left: 2.5rem;
      &::before {
        content: '';
        position: absolute;
        width: 1.6rem;
        height: 0.2rem;
        background-color: $orange;
        top: 50%;
        left: 0;
      }
    }
    &__layout {
      max-width: 111rem;
      @include g.mq('pc') {
      display: flex;
      }
    }
    &__image {
      width: 100%;
      position: relative;
      @include g.mq('pc') {
        width: 44.5rem;
        height: 33.2rem;
      }

      &__title {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 14%;
        background-color: #303639;
        color: #fff;
        font-size: 2vw;
        text-align: center;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &__titleText {
        display: inline-block;
      }
      img {
        width: 100%;
        border-radius: 2rem;
        @include g.mq('pc') {
          width: 44.5rem;
          height: 33.2rem;
        }
      }
    }
    &__dataArea {
      margin-top: 2rem;
      @include g.mq('pc') {
        width: calc(100% - 3rem);
        max-width: 63.5rem;
        margin-left: 3rem;
        margin-top: 0;
      }
    }
    // dataContainer共通
    &__dataContainer {
      display: flex;
      margin-bottom: 0.8rem;
      @include g.mq('pc') {
        &:not(:last-of-type) {
          margin-bottom: 1.6rem;
        }
      }
    }
    // fund__data共通
    &__data {
      // margin-bottom: 0.8rem;
      background-color: #fff;
      border-radius: 1rem;
      text-align: center;
      font-size: 1.2rem;
      align-items: center;
      display: flex;
      justify-content: center;

      &--text {
        line-height: 1.15;
      }
      br {
        display: block;
        content: "";
        height: 10px;
      }

      .data__name {
        vertical-align: middle;
      }
      .large__number {
        font-size: 4.2rem;
        font-weight: bold;
        line-height: 5.4rem;
      }
      .unit {
        font-size: 1.8rem;
        font-weight: bold;
      }
      .bold__number {
        font-weight: bold;
      }
    }
    // --topのみ
    &__dataContainer.--top {
      flex-flow: column;
      @include g.mq('pc') {
        display: flex;
        flex-flow: row;
        }
      .fund__data {
        width: 100%;
        height: 5.4rem;
        @include g.mq('pc') {
          height: 9rem;
        }
        &:nth-of-type(1) {
          margin-bottom: 0.8rem;
          @include g.mq('pc') {
            margin-bottom: 0;
          }
        }
      }
      @include g.mq('pc') {
        .fund__data:nth-of-type(2) {
          margin-left: 1rem;
        }
      }

    }
    // --middleのみ
    &__dataContainer.--middle {
      flex-flow: row;
      justify-content: space-between;
      .fund__data {
        width: calc((100% - 2rem) / 3);
        height: 9.1rem;
        padding: 1rem 0;
      }
    }
    // --bottomのみ
    &__dataContainer.--bottom {
      .fund__data {
        height: 5.5rem;
        width: 100%;
        color: $orange;
        font-weight: bold;
        font-size: 2.4rem;
        @include g.mq('pc') {
          height: 7.1rem;
          }
        }
    }
  }
  .Amazon {
    padding-top: 8rem;
    padding-bottom: 8rem;
    @include g.mq('pc') {
    padding-bottom: 6.5rem;
    }
    &__top {
      background-color:#211613 ;
      padding: 5rem 2rem;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      @include g.mq('tab') {
        margin: 0 auto;
      }
      @include g.mq('pc') {
        position: relative;
      }
      &--parent {
        color: #fff;
        padding-bottom: 3.6rem;
        position: relative;
        @include g.mq('tab') {
          display: flex;
          justify-content: center;
        } 
        @include g.mq('pc') {
          padding-bottom: 2rem;
        }
        img {
          @media screen and (max-width: 599px) {
            position: absolute;
            top: 0;
            right: 0;
          }
          @include g.mq('pc') {
            height: 240px;
            margin-left: 7rem;
          }

        }
        .font-large {
          font-size: 2.7rem;
          letter-spacing: 0.2rem;
        }
      }
      &--text {
        display: inline-block;
        @include g.mq('tab') {
          // width: 50vw;
        }
      }
    }
    &__button {
      text-align: center;
      margin: 0 auto;
      @include g.mq('pc') {
        position: absolute;
        width: 100%;
        top: 25rem;
        left: 0;
        // margin-bottom: 6.5rem;
      }
    }
    &__bottom {
      padding: 2.8rem 1.8rem 3.5rem;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      background-color: #F0F0F0;
      
      // max-width: 73rem;
      h3 {
        font-weight: bold;
      }
      &--container {
        max-width: 73rem;
        margin: 0 auto;
      }
      &--text {
        padding-bottom: 2.5rem;
        font-size: 1.4rem;
      }
    }
    &__notice {
      margin-left: 1.6rem;
      font-size: 1rem;
      line-height: 1.5rem;
      li {
        list-style: '※';
      }
    }
  }
  .register {
    padding-top: 8rem;
    &__steps {
      padding-top: 4.6rem;
      position: relative;
      @include g.mq('tab') {
        &::before {
          content: "";
          position: absolute;
          z-index: -1;
          width: 0.5rem;
          left: 5.5rem;
          height: calc(100% - 12rem);
          background-color: #211613;
        }
      }
    }
    &__step {
      @include g.mq('tab') {
        display: flex;
      }

      &:not(:nth-of-type(1)) {
        margin-top: 8.4rem;
      }

      .step__nav {
        display: inline-block;
        background-color: #211613;
        color: #fff;
        padding: 0.5rem 3rem;
        height: 4.2rem;
      }
      &--text {
        padding-top: 3.8rem;
        @include g.mq('tab') {
          padding-top: 0;
          margin-left: 4rem;

        }
        h3 {
          font-weight: bold;
          font-size: 1.8rem;
          padding-bottom: 1rem;
        }
        h4 {
          font-weight: bold;
          font-size: 1.4rem;
        }
      }
      &--buttons {
        margin-top: 2.5rem;
        margin-bottom: 2rem;
        @include g.mq('tab') {
          display: flex;
          flex-direction: column;
        }
        @include g.mq('pc') {
          flex-direction: row;
        }
      }
      &--detail {
        font-size: 1.4rem;
        line-height: 2.1rem;
      }
    }
    &__arrowButton {
      display: inline-block;
      padding: 1.25rem 2rem ;
      width: 100%;
      margin: 4.7rem auto 0;
      background-color: $orange;
      color: #fff;
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      border-radius: 9999px;
      @include g.mq('tab') {
      width: 35rem;
        
      }
      span {
        background-color: #fff;
        color: $orange;
        padding: 0.5rem 1.7rem;
        border-radius: 9999px;
        margin-right: 1rem;
      }
      &:hover {
        opacity: 0.7;
      }
    }
    &__flex {
      display: flex;
      justify-content: center;
      img {
        margin-right: 1rem;
      }
    }
    &__button {
      font-size: 1.4rem;
      display: inline-block;
      width: 100%;
      font-weight: bold;
      text-align: center;
      padding: 0.8rem;
      border-radius: 0.5rem;
    }
    .--orange {
      background-color: $orange;
      color: #fff;
      @include g.mq('tab') {
        max-width: 35rem;
      }
      @include g.mq('pc') {
        margin-right: 2rem;
      }
    }
    .--white {
      border: #F19917 1px solid;
      font-size: 1.8rem;
      margin-top: 1rem;
      @include g.mq('tab') {
        max-width: 35rem;
      }
      @include g.mq('pc') {
        margin-top: 0;
      }
    }
    .Identification {
      background-color: #F7F7F7;
      font-size: 1.4rem;
      line-height: 2rem;
      border-radius: 0.5rem;
      padding: 2rem;
      margin-top: 2.5rem;
      margin-bottom: 2rem;
      &__title {
        font-weight: bold;
      }
      ul {
        margin-left: 4vw;
      }
      li {
        list-style: disc;
        // display: block;
        
      }
    }
  }
  .footer {
    background-color: #EFF1F6;
    text-align: center;
    padding: 4rem 0 ;
    &__nav {
    }
    &__flex {
      display: flex;
      justify-content: center;
    }
    &__logo {
      margin-top: 2.8rem;
      margin-bottom: 3.3rem;
    }
    &__logo--text {
      color: #71808A;
      display: inline-block;
      margin-top: 2.4rem;
    }
    &__li {
      display: inline-block;
      padding: 0.8rem;
      color: #211613;
      &:nth-of-type(1) {
        position: relative;
        &::after {
          content: "";
          width: 0.1rem;
          height: 2rem;
          background-color: #211613;
          position: absolute;
          top: 1.5rem;
          right: -0.2rem;
        }
      }
      
    }
  }
}

