@charset "UTF-8";
html {
  font-size: 62.5%;
  font-family: 'Noto Sans JP';
}
body {
  font-size: 1.6rem;
  line-height: 3.2rem;
}
// 変数
$orange: #F19917;
.orange {
  color: $orange;
}
// 共通パーツ
.heading {
  color: $orange;
  font-size: 2rem;
  text-align: center;
  line-height: 4rem;
}
.container {
  padding: 0 5vw;
}
.ml-4 {
  margin-left: 3rem;
}
.PConly {
  @mixin mq {
    
  }
  display: none;
}
.button {
  display: inline-block;
  padding: 1.25rem 2rem ;
  width: 100%;
  background-color: $orange;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  border-radius: 9999px;
  span {
    background-color: #fff;
    color: $orange;
    padding: 0.5rem 1.7rem;
    border-radius: 9999px;
    margin-right: 1rem;
  }
  &:hover {
    opacity: 0.7;
  }
}

.banner {
  background-image: url(/image/banner-image_sp.png);
  padding-top: 4.5rem;
  padding-bottom: 4rem;
  font-size: 2.4rem;
  line-height: 4rem;
  letter-spacing: 0.2rem;
  &__text {
    color: #fff;
    span {
      color: $orange;
    }
  }
  &__buttonArea {
  position: relative;
  margin-top: 15rem;
  img {
    position: absolute;
    top: -15.5rem;
    right: -3rem;
  }
  &__button {
    font-size: 2rem;
    line-height: 4.8rem;
    padding: 1.2rem;
  }
}
}
.bold {
      font-weight: bold;
    }


// ---------------------
.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: black;
  &__title {
    margin: 2.5rem 0;
    display: inline-block;
    height: 3.5rem;
    img {
      // width: 13.3rem;
      height: 100%;
    }
  }
}
main {
  // top-----------------
  .top {
    padding-top: 100px;
    padding-bottom: 4rem;
    background-image: url(/image/top-bg.png);
    background-size: cover;
    &__text {
      display: flex;
      &--nav {
        color: #fff;
        font-size: 1.5rem;
        border-bottom: #F19917 2px solid;
        
      }
    }
    &__catchCopy {
      color: #fff;
      font-size: 4.3rem;
      font-family: 'Noto Sans JP';
      letter-spacing: 0.5rem;
      line-height: 6rem;
      margin-top: 4rem;
      padding-bottom: 31rem;
    }
    &__buttonArea {
      position: relative;
      img {
        position: absolute;
        top: -15.5rem;
        left: -3rem;
      }
    }
    &__button {
      display: inline-block;
      padding: 2rem ;
      width: 100%;
      background-color: $orange;
      color: #fff;
      font-size: 2rem;
      text-align: center;
      border-radius: 9999px;
      span {
        background-color: #fff;
        color: $orange;
        padding: 0.5rem 1.7rem;
        border-radius: 9999px;
        margin-right: 1rem;
      }
    }
    .bg-image {
      background-image: url(/image/マスクグループ\ 4178.jpg);
    }
  }
  .recommendation {
    margin-top: 4rem;
    &__button {
      display: inline-block;
      margin-bottom: 4rem;
      padding: 2rem ;
      width: 100%;
      background-color: $orange;
      font-size: 2rem;
      text-align: center;
      border-radius: 0.5rem;
      .button__text {
        font-size: 1.4rem;
        padding-bottom: 1rem;
        font-weight: bold;
      }
      .white {
        color: #fff;
      }
      span {
        font-size: 1.6rem;
        background-color: #fff;
        color: $orange;
        padding: 0.5rem 1.7rem;
        border-radius: 9999px;
        margin-right: 1rem;
      }
    }
    &__li {
      background-color: rgba(241, 153, 23, 0.2);
      font-size: 1.6rem;
      font-weight: bold;
      line-height: 3.2rem;
      margin-top: 2rem;
      padding: 1rem 2rem;
      border-radius: 9999px;
      display: flex;
      &--text {
        margin-left: 0.7rem;
      }
    }
    &__figure {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
  .explanation {
    background-image: url(/image/building.jpg);
    background-color: rgba(128, 128, 128, .1);
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 8.5rem;
    padding-bottom: 8rem;
    &__text {
      margin-top: 4.4rem;
      margin-bottom: 8.8rem;
      line-height: 3.2rem;
    }
    &__image {
      width: 55vw;
      text-align: center;
      margin: 0 auto;
      img {
        width: 100%;
      }
    }
  }
  .gain {
    padding-top:8.5rem ;
    padding-bottom:8rem ;
    &__text {
      &__title {
        font-weight: bold;
        margin-top: 4.4rem;
        margin-bottom: 2.8rem;
      }
    }
    &__list {
      font-size: 1.2rem;
      line-height: 2.4rem;
      margin-top: 2.8rem;
      margin-bottom: 4.3rem;
      padding-left: 5vw;
      li {
        list-style: disc;
      }
    }
  }
  .feature {
    padding-top: 7.7rem;
    padding-bottom: 8rem;
    &__box {
      background-color: rgba(241, 153, 23, 0.2);
      padding: 1.7rem;
      border-radius: 1rem;
      &:nth-of-type(1) {
        margin-top: 4.5rem;
      }
      &:not(:nth-of-type(1)) {
        margin-top: 2rem;
      }
    }
    &__title {
      display: flex;
      &--text {
        margin-left: 2rem;
      }
      &--tab {
        display: inline-block;
        background-color: #F19917;
        color: #fff;
        padding: 0 1rem;
        border-radius: 1rem;
      }
      &--bold {
        font-weight: bold;
      }
    }
    &__text {
      color: #707070;
      padding-top: 1rem;
      font-size: 1.6rem;
      line-height: 2.5rem;
    }
  }
  .system {
    background-image: url(/image/system_bg.jpg);
    padding: 8rem 0;
    &__img {
      margin-top: 4.8rem;
    }
  }
  .Amazon {
    padding-top: 8rem;
    padding-bottom: 8rem;
    &__top {
      background-color:#211613 ;
      padding: 5rem 2rem;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      &--parent {
        color: #fff;
        padding-bottom: 3.6rem;
        position: relative;
        img {
          position: absolute;
          top: 0;
          right: 0;
        }
        .font-large {
          font-size: 2.7rem;
          letter-spacing: 0.2rem;
        }
      }
    }
    &__bottom {
      padding: 2.8rem 1.8rem 3.5rem;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      background-color: #F0F0F0;
      h3 {
        font-weight: bold;
      }
      &--text {
        padding-bottom: 2.5rem;
        font-size: 1.4rem;
      }
    }
    &__notice {
      margin-left: 1.6rem;
      font-size: 1rem;
      line-height: 1.5rem;
      li {
        list-style: '※';
      }
    }
  }
  .register {
    padding: 8rem 0 8.8rem;
    &__steps {
      padding-top: 4.6rem;
    }
    .pb-43 {
      padding-bottom: 4.3rem;
    }
    &__step {
      padding-bottom: 8.5rem;
      .step__nav {
        display: inline-block;
        background-color: #211613;
        color: #fff;
        padding: 0.5rem 3rem;
      }
      &--text {
        padding-top: 3.8rem;
        h3 {
          font-weight: bold;
          font-size: 1.8rem;
          padding-bottom: 1rem;
        }
      }
    }
    &__flex {
      display: flex;
      justify-content: center;
      // margin-top: 4.3rem;
      img {
        margin-right: 1rem;
      }
    }


  }
}

